body{
  letter-spacing: 2pt;
  line-height: 1.75rem;
}

.renew-title-box {
  display: inline-block;
  position: relative;
  padding: 0.2em 1em;
  background-color: #C49A6C;
  margin: 1em auto;
}

.renew-title {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Noto Serif HK', serif;
    margin-bottom: 10px;
}

.round-button{
  background-color:#0f2642;
  color:#ffffff;
  text-align: center;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
   
}

.introduction{
   line-height: 2.25rem !important;
   color: #49484a !important;
   font-size: 1.125rem !important;
}
.page-title h3{
  color:rgb(15,38,66);
}